body{
    width:100%;
}
h1{
    text-align: center;

}
header p{
    text-align: center;
}
div .logo{
    text-align: center;
}
main{
    text-align: center;
}
article{
    text-align: center;
    width:20%;
    height:10%;
    display: inline-block;
}
#art1{
    text-align: center;
    background-color:#fff;
    width:20%;
    height:20%;
    margin:0 auto;
    display: inline-block;
}
#art2{
    text-align: center;
    background-color:#fff;
    width:20%;
    height:20%;
    margin:0 auto;
    display: inline-block;
}
#art3{
    text-align: center;
    background-color:#fff;
    width:20%;
    height:10%;
    display: inline-block;
}
#art4{
    text-align: center;
    width:20%;
    height:10%;
    display: inline-block;
}
footer p{
    text-align: center;
    padding:2px
}
span{
    font-weight: bold;
}